/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ff9acb, #ff5fa2);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ROTATE MESSAGE */
#rotateMessage {
  position: fixed;
  inset: 0;
  background: #f87aaf;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  z-index: 1000;
}

/* GAME CONTAINER */
#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;
  width: 95vw;
  max-width: 1000px;
}

/* EMPTY HEART SPOTS */
.hidden-slot {
  aspect-ratio: 1 / 1;
}

/* CARD */
.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
}

/* INNER FLIP */
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flip .inner {
  transform: rotateY(180deg);
}

/* FRONT + BACK */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  backface-visibility: hidden;
  overflow: hidden;
}

/* BACK SIDE (WHITE TILE) */
.back {
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* FRONT SIDE */
.front {
  transform: rotateY(180deg);
  background: white;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
  transform: scale(1.33);

}

/* MATCH EFFECTS */
.card.correct .inner {
  box-shadow: 0 0 25px #00ff88;
  border-radius: 14px;
}

.card.wrong .inner {
  box-shadow: 0 0 25px #ff0000;
  border-radius: 14px;
}

/* PROPOSAL SCREEN */
#proposalScreen {
  position: fixed;
  inset: 0;
  background: rgba(254, 130, 182, 0.95);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 999;
}

.proposalContent {
  max-width: 500px;
}

.proposalContent h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.proposalContent p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* CONFETTI */
#confetti {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .grid {
    gap: 5px;
  }
}
